#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mgl-story {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  width: 30%;
  max-width: 520px;
  min-width: 400px;
  /* margin-left: calc(67% - 60px); */
  overflow: auto;
  overflow-x: hidden;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  border-radius: 2px;
  /* box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12); */
  z-index: 10;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
  scroll-padding-bottom: 100px;
}

.mgl-story::-webkit-scrollbar { 
  display: none; /* Chrome */
} 
/*THEMES*/

/* #map.left {
  left: 30%
} */

.mgl-story.left {
  right: unset;
  /* left: 20px; */
}
/********/

.mgl-story > section {
  margin: 20px 20px 100vh 20px;
  padding-top: 1px;
  transition: opacity 0.3s ease-in;
  opacity: 0.1;
  background: rgba(255,255,255, 0.8);
  padding: 1px 20px 30px;
  border-radius: 3px;
  scroll-snap-align: start;
}

.mgl-story > section.active {
  opacity: 1;
}

.mgl-story:last-child {
  margin: 20px;
}

.mgl-story > section .story-body {
  text-align: justify;
}

.mgl-story > section > button {
  margin-top: 20px;
  border: none;
  background: transparent;
  border-radius: 2px;
  min-width: 60px;
  min-height: 40px;
}

.mgl-story > section > button:hover,
.mgl-story > section > button:focus {
  background: #121212;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  #map {
    height: 60vh;
    bottom: unset;
    width: 100%;
  }
  .mgl-story {
    top: 60vh;
    width: 100%;
    max-width: 100%;
    min-width: unset;
    scroll-padding-top: 0px;
  }
  .mgl-story > section {
    margin: 0px 20px 100vh 20px;
    background: rgba(255,255,255)
  }
}