#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70%;
}

.mgl-story {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  width: 30%;
  /* margin-left: calc(67% - 60px); */
  overflow: auto;
  overflow-x: hidden;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
  z-index: 10;
}
.mgl-story > section {
  margin: 10px 20px 500px 20px;
  padding-top: 20px;
}


.mgl-story > section {
  opacity: 0.2;
}

.mgl-story > section.active {
  opacity: 1;
}

.mgl-story .story-body {
  text-align: justify;
}

.mgl-story > section > button {
  margin-top: 20px;
  border: solid thin #121212;
  background: transparent;
  border-radius: 2px;
  min-width: 60px;
  display: none;
}

.mgl-story > section > button:hover,
.mgl-story > section > button:focus {
  background: #121212;
  color: white;
  cursor: pointer;
}



@media screen and (max-width: 960px) {
  .mgl-story {
    height: 40vh;
    top: unset;
    right: unset;
    width: 100%
  }
  #map {
    /* margin-bottom: 40vh; */
    height: 60vh;
    bottom: unset;
    width: 100%;
  }
}